$red: #d33a31;
$black: #000;
$white: #fff;
$gold: #e7aa5a;
$blue: #517eaf;
$grey: #b0b0b0;
$font-normal-color: #ddd;
$font-title-color: #888;
$menu-side-width: 200px;
$font-size: 14px;
$font-size-medium-sm: 13px;
$font-size-lg: 16px;
$font-size-sm: 12px;
$font-size-xs: 10px;
$font-size-medium: 15px;
$font-size-title: 18px;
$font-size-title-lg: 24px;
$font-size-title-sm: 20px;

$font-weight-bold: 700;

$font-color-transparent: rgba(255, 255, 255, 0.5);

$border: 1px solid #666;

$page-padding: 16px 32px;
// layout
$layout-header-height: 50px;
$layout-content-min-width: 700px;
$layout-playpanel-min-width: 1000px;
// content
$center-content-max-width: 1000px;
// header
$header-height: 50px;

// mini-player
$mini-player-height: 60px;
$mini-player-z-index: 1000;

$userdetail-index: 1000;
//search
$search-panel-z-index: 1004;
$play-panel-z-index: 999;
//mv
$mv-z-index: 1001;

